* {
    box-sizing: border-box;
    margin: 0% 0%;
    /* padding: 12px; */
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* }
#product{
    background: url("../bg.jpg");
    background-size:cover;

} */

.edit {
    border-top: 1px solid #d3daea;
    border-bottom: 1px solid #d3daea;
    padding : 1.2rem;
}

textarea{
background: url(http://i.imgur.com/2cOaJ.png);
background-attachment: local;
background-repeat: no-repeat;
padding-left: 35px;
padding-top: 10px;
    border-color:#ccc;
    overflow: auto;
}
body {
    background-color:#fff;
}
.markdown {

    resize: none;
	overflow: auto;
	width: 100%;
	height: 80vh;
	margin: 0 auto;
	display: block;
    margin-bottom: 15px;
    border: 2px solid gray;

}

#preview {
    background-color:  #fff ;
    border: 2px solid gray;
    height: 80vh;
    overflow: auto;
    padding: 1.2rem;
}

.name {
    background:  #373d49  ;
    margin-left: 0%;
    width: 100%;
    color:#fff;
    padding : 1.2rem;
} 



.preview .title {
    color: #333333;
    border-top: 1px solid #d3daea;
    border-bottom: 1px solid #d3daea;
    padding : 1.2rem;
}

.main {
    margin-top: 12px !important;
}

/* @media screen and (max-width: 760px) {
    .markdown {
        width: 100vw;
    }
    #preview {
        width: 100vw;
    }
} */

.fs {
    display: inline;
}


@media screen and (max-width: 768px) {
    .markdown{
        resize: none;
	overflow: auto;
	width: 100%;
    height: 40vh;
    font-size: 1.2em;
    }

    #preview {
       
        height: 40vh;
        overflow: auto;
        padding: 1.2em;    
    }

    .name{
        font-size: 1.5em;
    }
}